/* input */
.ui-input {
  margin: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  background: #eaeaea;
  border: 1px solid #eaeaea;
  width: 100%;
  height: 56px;
  font-size: 30px;
  line-height: 54px;
  color: #7b7b7b;
  text-align: center;
  padding: 0 20px;
}
textarea.ui-input {
  height: 300px;
  overflow: hidden;
  overflow-y: auto;
  resize: none;
}
.ui-input[type='number']::-webkit-outer-spin-button,
.ui-input[type='number']::-webkit-inner-spin-button,
.ui-input[type='date']::-webkit-outer-spin-button,
.ui-input[type='date']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.ui-input[type='number'],
.ui-input[type='date'] {
  -moz-appearance: textfield;
}
.ui-input::-ms-clear,
.ui-input::-ms-reveal {
  display: none;
}
.ui-input::-webkit-search-decoration,
.ui-input::-webkit-search-cancel-button,
.ui-input::-webkit-search-results-button,
.ui-input::-webkit-search-results-decoration {
  display: none;
}
.ui-input::-webkit-input-placeholder {
  opacity: 1;
  color: #7b7b7b;
}
.ui-input::-moz-placeholder {
  opacity: 1;
  color: #7b7b7b;
}
.ui-input:-ms-input-placeholder {
  opacity: 1;
  color: #7b7b7b;
}
.ui-input:-moz-placeholder {
  opacity: 1;
  color: #7b7b7b;
}
.ui-input:focus {
  border-color: #44aaa3;
}
.ui-input[readonly],
.ui-input-block--disabled .ui-input,
.ui-input[disabled] {
  color: #7b7b7b;
  border-color: #eaeaea;
  background-color: #eaeaea;
  opacity: 0.3;
}

/* contents */
.wrap {
  min-width: 1000px;
  height: 3212px;
  background: url('../images/pc.jpg') no-repeat 50% 50%;
}
.contents {
  position: relative;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.form {
  position: absolute;
  top: 2430px;
  left: 115px;
  width: 768px;
}
.form-row:after {
  content: '';
  display: table;
  clear: both;
}
.form-phone {
  float: left;
  width: 478px;
}
.form-submit {
  display: block;
  float: left;
  width: 274px;
  height: 56px;
  margin-left: 16px;
  background: rgba(0, 0, 0, 0);
}
.link {
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0);
}
.atm-link {
  top: 2514px;
  right: 118px;
  width: 273px;
  height: 37px;
}
.more-video {
  top: 3114px;
  left: 50%;
  width: 416px;
  height: 76px;
  margin-left: -215px;
}
.video-block {
  display: block;
  position: absolute;
  top: 2810px;
  width: 432px;
  height: 243px;
  overflow: hidden;
  border-radius: 10px;
  background: #c8f1eb;
}
.video-block iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}
.video-block-01 {
  left: 57px;
}
.video-block-02 {
  right: 58px;
}
